@import "tailwindcss";

@theme {
    --color-body-color: #F0F2F5;
    --header-color: #5429CC
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  
body{
    background-color: var(--color-body-color);
}
